<%- include('./partials/header.ejs') %>
    <section
        class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full max-h-screen">
        <section
        class="hidden md:flex bg-gradient-to-b from-azul-principal to-azul-nav-fim  flex-col p-5 h-screen gap-10">
        <%- include('./partials/navBar.ejs') %>
    </section>            <section class="flex flex-col w-full">
                <section class="flex flex-row items-center justify-between h-fit p-6 gap-32">
                    <div class="flex flex-row items-center gap-5 w-full max-w-7xl">
                        <%- include('./partials/headerBar.ejs') %>
                    </div>
                </section>
                <section class="flex flex-col gap-5">
                    <!-- Dashboard Principal -->
                    <section class="grid grid-cols-2 px-5 gap-1">
                        <div class="bg-gradient-to-r from-laranja-s h-fit to-laranja-e p-5 rounded-xl">
                            <p class="text-4xl text-white">Adicionar Usuário</p>
                            <p class="text-2xl text-white">Crie ou edite usuários do sistema.</p>
                        </div>
                    </section>
                    <section class="rounded-xl px-5 flex flex-col">
                        <!-- Formulario -->
                        <form class="grid grid-cols-2 bg-white px-5 rounded-xl" id="multiPageForm" method="post"
                            action="/newUser" enctype="multipart/form-data">
                            <div class="flex flex-col p-5 gap-5">
                                <div class="flex flex-row gap-5">
                                    <input
                                        class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                        type="text" placeholder="Nome">
                                    <input type="text" name="nome"
                                        class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                        placeholder="Sobrenome" name="sobrenome">
                                </div>
                                <div class="flex flex-row gap-5">
                                    <input
                                        class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                        type="text" placeholder="Rua">
                                    <input type="text" name="rua"
                                        class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                        placeholder="Bairro" name="bairro">
                                </div>
                                <div class="flex flex-row gap-5">
                                    <input
                                        class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                        name="cidade" type="text" placeholder="Cidade">
                                    <select name="estado"
                                        class="border-2  text-azul-text text-xl border-azul-cinza-claro md:rounded-md rounded-xl w-full h-12 md:h-fit p-2 md:w-1/2 px-2"
                                        maxlength="2">
                                        <option value="">Estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                                <div class="grid grid-cols-2">
                                    <div class="flex flex-col gap-5">
                                        <input
                                            class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                            type="text" placeholder="Email" name="email">
                                        <input
                                            class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                            type="password" placeholder="Senha" name="senha">
                                        <input
                                            class="border-2 border-azul-cinza-claro text-lg rounded-xl w-full h-fit p-2 text-azul-text"
                                            type="password" placeholder="Senha" name="senha">
                                    </div>
                                    <div class="flex flex-col">
                                        <input id="user-cel-ddd" type="tel" name="userCelddd"
                                        class="border text-azul-text text-xl border-cinza-border rounded-md w-10 text-center"
                                        maxlength="2">
                                        <input id="user-cel-number" maxlength="9" name="userCelNumber"
                                        class="border text-azul-text text-xl border-cinza-border rounded-md px-2 w-1/5"
                                        type="tel">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </section>
                <%- include('./partials/footer.ejs') %>