/* Estilos base */
.headerContainer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  width: 100%;
}
.busca{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: row; */
  margin-right: 10px;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-between; */
  /* /* padding: 20px; */
  width: 80%;  
}
.inputBusca{
  flex: 1;
    padding: 10px;
    width: 70%;
    height: 37px;
    border-radius: 10px;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.headerIcons{
  display: flex;
  gap: 10px;
}
.headerIcon{
    padding: 9px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.person{
    /* width:170px ; */
    gap:10px;
    flex-direction: row;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
}
.personText{
    color: rgba(43, 67, 141, 0.75);
    font-weight: bold;
}
.divimgPerson{
    /* width: 20%; */
    display: flex;
    align-items: flex-start;
    
}
.imgPerson{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}