@tailwind base;
@tailwind components;
@tailwind utilities;

form-page {
  display: none;
}

.form-page.active {
  display: block;
}


.Background{
  background: url('/imgs/ondasRotate.png');
  background-position: center;
  background-size: cover;
  filter: hue-rotate(24deg) brightness(0.8)
}

.header-rounded{
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.Gradient{
  background: linear-gradient(0.25turn, #1a1a1a00, hsla(0, 0%, 10%, 0.164), #1a1a1a00);
}

@layer components {
  .clip-curve {
    clip-path: ellipse(80% 100% at 50% 0%);
  }
}