.imgResist{
    display: flex;    
    justify-content: center;
  }
  .navDesk {
    width: 70px;  
    display: none;
    flex-direction: column;
    /* padding: 20px; */
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2D62FF, #234DCB);
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Exibir como flex em telas grandes (≥1024px) */
  @media (min-width: 1536px) {
    .navDesk {
      display: flex;
    }
  }
 
  .navMobContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: white;
    bottom: 0;
    z-index: 30;
    padding: 0.75rem; /* equivalente a p-3 do Tailwind (12px) */
    width: fit-content;
    gap: 0.5rem; /* equivalente a gap-2 do Tailwind (8px) */
    border-top-left-radius: 1.5rem; /* rounded-t-3xl */
    border-top-right-radius: 1.5rem; /* rounded-t-3xl */
}

@media (min-width: 1534px) {
    .navMobContainer {
        display: none;
    }
}
 .navIconSelected {
  margin-left: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
    /* width: 57px; */
    height: 40px;
    /* background: linear-gradient(to right, #ffffff  70%, #00000000 30%); */
    border-top-left-radius: 24px;
    border-end-start-radius: 24px;
    background-color:#ffffff ;
     
  }
  .navIcon {
  display: flex;
  justify-content: center;
     
  }
  .navIconMid{
  display: flex;
  flex-direction: column;
  gap: 40px;
  }
  .icon{
  width: 22px;
  color: white;
  /* margin-top: 5px; */
  /* margin-left: 8px; */
  }
  .iconSelect{
  width: 22px;
  color: rgba(55, 102, 240, 1);
  /* margin-top: 5px; */
  /* margin-left: 8px; */
  }
  
  