<%- include('./partials/header.ejs') %>
<section class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full">
    <section class="grid grid-cols-2 relative">
        <!-- Imagem Lateral -->
        <div class="flex relative ">
            <img class=" w-full max-h-screen z-0" src="./imgs/ondas.png">
        </div>
        <div class="grid grid-flow-row bg-cinza-claro ">
            <!-- Logo -->
            <div class="grid grid-flow-row h-fit justify-end p-4">
                <img class="size-10 " src="./icons/lg-resist-b.svg">
            </div>
            <div class="flex flex-col mx-auto p-5 gap-5">
                <h1 class="Urbanist font-bold text-3xl text-azul-title">Cadastrar-se</h1>
                <div class="bg-white border rounded-xl p-10 gap-5 flex flex-col">
                    <!-- Formulario -->
                    <form class="flex flex-col justify-arounds" id="multiPageForm" method="post" action="/cadastro/new">
                        <!-- Pagina 1 -->
                        <section class="form-page" id="page1" style="display: block;">
                            <!-- Dados da Instituição -->
                            <div class="flex flex-row justify-between">
                                <!-- Label -->
                                <div>
                                    <label class="text-azul-text text-xl">Dados da instituição</label>
                                </div>
                            <!-- Input -->
                            <div>
                                <input type="radio" name="instituicao" value="Pública">
                                <label for="Pública">Pública</label>
                                &nbsp;
                                &nbsp;
                                <input type="radio" name="instituicao" value="Privada">
                                <label for="Privada">Privada</label>
                            </div>
                        </div>
                        <br>
                        <!-- Nome Fantasia -->
                        <div class="flex flex-row">
                            <label class="text-azul-text text-xl text-nowrap">Nome Fantasia</label>
                            &nbsp;
                            &nbsp;
                            <input type="text" name="nomeFantasia" required class="border text-azul-text text-xl border-cinza-border rounded-md w-full h-fit px-2">
                        </div>
                        <!-- CNPJ -->
                        <div class="flex flex-row justify-between gap-5">
                            <div>
                                <label name class="text-azul-text text-xl text-nowrap">CNPJ</label>
                                &nbsp;
                                <input type="number" required name="CNPJ" class="border text-azul-text text-xl border-cinza-border rounded-md px-2">
                            </div>
                            <div>
                                <label class="text-azul-text text-xl text-nowrap">Inscrição Estadual</label>
                                &nbsp;
                                <input type="number" required name="InscricaoEstadual" class="border text-azul-text text-xl border-cinza-border rounded-md px-2">
                            </div>
                        </div>
                        <br>
                        <!-- Endereco -->
                        <div class="flex flex-col justify-between">
                            <div class="flex flex-row  justify-between gap-5">
                                <div class="flex flex-row flex-nowrap w-full h-fit">
                                    <label class="text-azul-text text-xl text-nowrap">Logradouro</label>
                                    &nbsp;
                                    <input type="text" required name="logradouro" class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                    </div>
                                <div class="flex flex-row flex-nowrap ">
                                    <label class="text-azul-text text-xl text-nowrap">Nº</label>
                                    &nbsp;
                                    <input type="number" required name="numero" class="border text-azul-text text-xl border-cinza-border rounded-md w-20 px-2">
                                </div>
                            </div>
                            <br>
                            <div class="flex flex-row flex-nowrap w-full h-fit justify-between gap-5">
                                <div class="flex flex-row flex-nowrap w-full">
                                    <label class="text-azul-text text-xl text-nowrap">Bairro</label>
                                    &nbsp;
                                    <input type="text" required name="bairro" class="border text-azul-text text-xl h-fit border-cinza-border rounded-md w-full px-2">
                                </div>
                                <div class="flex flex-row flex-nowrap w-full h-fit "> 
                                    <label class="text-azul-text text-xl text-nowrap">Cidade</label>
                                    &nbsp;
                                    <input type="text" required name="cidade" class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                </div>
                            </div>
                            <br>
                            <div class="flex flex-row flex-nowrap w-full h-fit">
                                <label class="text-azul-text text-xl text-nowrap">Estado</label>
                                &nbsp;
                                <select required name="estado" class="border text-azul-text text-xl border-cinza-border rounded-md w-1/2 px-2" maxlength="2">
                                    <option value=""></option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <!-- Telefone -->
                        <div class="flex flex-row flex-nowrap gap-5">
                            <div class="flex flex-row flex-nowrap ">
                                <label class="text-azul-text text-xl text-nowrap">Tel.</label>
                                &nbsp;
                                <input id="tel-ddd" type="tel" name="telddd"
                                    class="border text-azul-text text-xl border-cinza-border rounded-md w-10 text-center h-fit"
                                    maxlength="2">
                                <label class="text-azul-text text-xl text-nowrap">&nbsp; - &nbsp;
                                </label>
                                <input id="tel-number" maxlength="9" name="telnumber"
                                    class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2 h-fit"
                                    type="tel">
                                </div>
                                <div class="flex flex-row flex-nowrap ">
                                    <label class="text-azul-text text-xl text-nowrap">Cel.</label>
                                &nbsp;
                                <input id="cel-ddd" type="tel" name="celddd"
                                    class="border text-azul-text text-xl border-cinza-border rounded-md w-10 text-center h-fit"
                                    maxlength="2">
                                <label class="text-azul-text text-xl text-nowrap">&nbsp; - &nbsp;
                                </label>
                                <input id="cel-number" maxlength="9" name="celnumber"
                                    class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2 h-fit"
                                    type="tel">
                                </div>
                            </div>
                            <br>
                            <div class="flex flex-row justify-between w-full h-fit flex-nowrap">
                            <label class="text-azul-text text-xl text-nowrap">Email</label>
                            &nbsp;
                            <input type="email" name="email" class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2 h-fit">
                        </div>
                    </section>
                    <!-- Pagina 2 -->
                    <section id="page2" class=" form-page flex flex-col w-720" style="display: none;">
                        <div class="flex flex-row justify-start">
                            <p class="text-azul-text text-xl">Criação de usuário administrador</p>
                        </div>
                        <br>
                        <div class="flex flex-col gap-5 justify-center h-fit w-full">
                            <div class="flex flex-row gap-2">
                                <label class="text-azul-text text-lg text-nowrap">Nome</label>
                                <input type="text" name="userName" required
                                class="border text-azul-text text-lg border-cinza-border rounded-md w-full h-fit px-2">
                            </div>
                            <div class="flex flex-row gap-2">
                                <label class="text-azul-text text-lg text-nowrap">CPF</label>
                                <input type="text" name="userCpf" required
                                class="border text-azul-text text-lg border-cinza-border rounded-md w-full h-fit px-2">
                            </div>
                            <div class="flex flex-row gap-2">
                                <label class="text-azul-text text-lg text-nowrap">Email</label>
                                <input type="email" name="userMail" required
                                class="border text-azul-text text-lg border-cinza-border rounded-md w-full h-fit px-2" minlength="8">
                            </div>
                            <div class="flex flex-row gap-2">
                                <label class="text-azul-text text-lg text-nowrap">Senha</label>
                                <input type="password" name="userPassword" required
                                class="border text-azul-text text-lg border-cinza-border rounded-md w-full h-fit px-2" minlength="8">
                            </div>
                            <div class="flex flex-row gap-2">
                                <label class="text-azul-text text-lg text-nowrap">Conf. Senha</label>
                                <input type="password" name="conf.userPassword" required
                                class="border text-azul-text text-lg border-cinza-border rounded-md w-full h-fit px-2" minlength="8">
                            </div>
                            <div class="flex flex-col justify-between">
                                <div class="flex flex-row  justify-between gap-5">
                                    <div class="flex flex-row flex-nowrap w-full h-fit">
                                        <label class="text-azul-text text-xl text-nowrap">Logradouro</label>
                                        &nbsp;
                                        <input type="text" required name="logradouroUser" class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                        </div>
                                
                                </div>
                                <br>
                                <div class="flex flex-row flex-nowrap w-full h-fit justify-between gap-5">
                                    <div class="flex flex-row flex-nowrap w-full">
                                        <label class="text-azul-text text-xl text-nowrap">Bairro</label>
                                        &nbsp;
                                        <input type="text" required name="bairroUser" class="border text-azul-text text-xl h-fit border-cinza-border rounded-md w-full px-2">
                                    </div>
                                    <div class="flex flex-row flex-nowrap w-full h-fit "> 
                                        <label class="text-azul-text text-xl text-nowrap">Cidade</label>
                                        &nbsp;
                                        <input type="text" required name="cidadeUser" class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                    </div>
                                </div>
                                <br>
                                <div class="flex flex-row flex-nowrap w-full h-fit">
                                    <label class="text-azul-text text-xl text-nowrap">Estado</label>
                                    &nbsp;
                                    <select required name="estadoUser" class="border text-azul-text text-xl border-cinza-border rounded-md w-1/2 px-2" maxlength="2">
                                        <option value=""></option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex flex-row gap-2 ">
                                <label class="text-azul-text text-lg">Cel.</label>
                                <input id="user-cel-ddd" type="tel" name="userCelddd"
                                class="border text-azul-text text-xl border-cinza-border rounded-md w-10 text-center"
                                maxlength="2">
                                <input id="user-cel-number" maxlength="9" name="userCelNumber"
                                class="border text-azul-text text-xl border-cinza-border rounded-md px-2 w-1/5"
                                type="tel">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="flex flex-row gap-10">
                            <div class="flex border-cinza-border border-4 border-dashed rounded-full p-2 hover:scale-105 duration-300 hover:rotate-180">
                                <div class="flex flex-row items-center self-center
                                snap-center
                                content-center bg-cinza-border rounded-full p-5">
                                    <img src="/icons/cross.png">
                                </div>    
                            </div>
                            <p class="text-lg text-azul-cinza-claro"><span class="text-xl font-bold">Faça upload da sua foto de perfil.</span><br>Formatos aceitos: PNG, JPG, JPEG. <br> Máximo de 10Mb.</p>
                        </div>
                        <button type="submit" onclick="teste()"> Cadastrar</button>
                    </section>
                    </form>
                </div>
                <div class="flex flex-row justify-between">
                    <span class="bg-white text-cinza-border hover:text-black hover:scale-105 duration-300 px-10 py-3 rounded-full" onclick="previousPage()">Voltar</span>
                    <span class="bg-azul-principal text-white px-10 py-3 hover:scale-105 hover:brightness-75 duration-300  rounded-full" onclick="nextPage()">Proximo</span>
                </div>
    </section>
    <%- include('./partials/footer.ejs') %>