<%- include('./partials/header.ejs') %>
<section class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full">
        <%- include('./partials/navBar.ejs') %>
            <section class="flex flex-col w-full">
                <%- include('./partials/headerBar.ejs')%>
                    <section class="bg-white">
                        <a href="/configUser">Inserir Usuario</a>
                    </section>
            </section>
    </section>

    <%- include('./partials/footer.ejs') %>