<%- include('./partials/header.ejs') %>
    <section
        class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full">
        <%- include('./partials/navBar.ejs') %>
            <section class="flex flex-col w-full">
                <%- include('./partials/headerBar.ejs') %>
                    <section class="grid grid-cols-2">

                        <section class="grid grid-flow-row p-10 gap-10">
                            <div class="bg-gradient-to-r from-laranja-s h-fit to-laranka-e p-10 rounded-xl">
                                <p class="text-4xl text-white">Olá, Daniel</p>
                                <p class="text-2xl text-white">Bem-vindo de volta ao seu dashboard.</p>
                            </div>
                            <div class="bg-azul-principal rounded-xl">
                                <p class="text-white text-base p-3 text-center">Atividade recente</p>
                                <div class="bg-white h-full rounded-b-xl">
                                    grafico
                                </div>

                        </section>
                        <section class="grid grid-flow-col columns-2 p-10">
                            <div class="grid grid-flow-row gap-5">
                                <p class="text-lg text-azul-text">Nível de incidência por sala/laboratório</p>
                                <div class="grid grid-cols-4 gap-10">
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 01</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 02</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 03</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 04</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="grid grid-cols-4 gap-10">
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 05</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório 06</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Sala dos Professores</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                    <div class="bg-azul-principal rounded-xl">
                                        <p class="text-white text-base p-3 text-center">Laboratório Móvel</p>
                                        <div class="bg-white h-full rounded-b-xl">
                                            grafico
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
            </section>
    </section>
    <%- include('./partials/footer.ejs') %>