<%- include('./partials/header.ejs') %>
    <section class="grid grid-flow-col justify-start h-screen">
        <%- include('./partials/navBar.ejs') %>
            <section class="flex flex-row h-fit p-6 justify-between  w-full">
                <%- include('./partials/headerBar.ejs')%>
            </section>
            <section>
                <script src="path/to/chartjs/dist/chart.umd.js">

                </script>
    <script>
    const myChart = new Chart(ctx, {...});
    </script>
 

            </section>
    </section>

    <%- include('./partials/footer.ejs') %>