<%- include('./partials/header.ejs') %>
<section class="grid grid-cols-2 max-h-screen "> 
    <!-- Imagem Lateral -->
    <div>
        <img class=" w-full filter h-full" src="./imgs/ondas.png">
    </div>
    <div class="bg-cinza-claro relative ">
        <h1 class=" text-xl font-extrabold ">Ola </h1>
    </div>
</section>
<%- include('./partials/footer.ejs') %>