<%- include('./partials/header.ejs') %>
    <section
        class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full max-h-screen">
        <%- include('./partials/navBar.ejs') %>
            <section class="flex flex-col w-full">
                <section class="flex flex-row items-center justify-between h-fit p-6 gap-32">
                    <div class="flex flex-row items-center gap-5 w-full max-w-7xl">
                        <%- include('./partials/headerBar.ejs') %>
                    </div>
                </section>
                <section class="flex flex-col gap-5">
                    <!-- Dashboard Principal -->
                    <section class="grid grid-cols-2 px-5 gap-1">
                        <div class="bg-gradient-to-r from-laranja-s h-fit to-laranja-e p-5 rounded-xl">
                            <p class="text-4xl text-white">Adicionar Usuário</p>
                            <p class="text-2xl text-white">Crie ou edite usuários do sistema.</p>
                        </div>
                    </section>
                    <section class="grid grid-cols-2 bg-white px-10 rounded-xl">
                        <!-- Formulario -->
                        <form class="flex flex-col justify-around" id="multiPageForm" method="post" action="/newUser"
                            enctype="multipart/form-data">
                            <div class="flex flex-row justify-start">
                                <p class="md:text-azul-text text-white font-bold text-xl">Criação de usuário
                                    administrador</p>
                            </div>
                            <br>
                            <div class="flex flex-col gap-3 justify-center h-fit w-full">
                                <div class="flex flex-row gap-2">
                                    <label class="text-azul-text text-lg hidden md:flex text-nowrap">Nome</label>
                                    <input type="text" name="userName" required
                                        class="border text-azul-text text-lg border-cinza-border md:rounded-md rounded-3xl w-full h-12 md:h-fit  px-2">
                                </div>
                                <div class="flex flex-row gap-2">
                                    <label class="text-azul-text text-lg hidden md:flex text-nowrap">CPF</label>
                                    <input type="text" name="userCpf" required
                                        class="border text-azul-text text-lg border-cinza-border md:rounded-md rounded-3xl w-full h-12 md:h-fit  px-2">
                                </div>
                                <div class="flex flex-row gap-2">
                                    <label class="text-azul-text text-lg text-nowrap">Email</label>
                                    <input type="email" name="userMail" required
                                        class="border text-azul-text text-lg border-cinza-border md:rounded-md rounded-3xl w-full h-12 md:h-fit  px-2"
                                        minlength="8">
                                </div>
                                <div class="flex flex-row gap-2">
                                    <label class="text-azul-text text-lg text-nowrap">Senha</label>
                                    <input type="password" name="userPassword" required
                                        class="border text-azul-text text-lg border-cinza-border md:rounded-md rounded-3xl w-full h-12 md:h-fit  px-2"
                                        minlength="8">
                                </div>
                                <div class="flex flex-row gap-2">
                                    <label class="text-azul-text text-lg text-nowrap">Conf. Senha</label>
                                    <input type="password" name="conf.userPassword" required
                                        class="border text-azul-text text-lg border-cinza-border md:rounded-md rounded-3xl w-full h-12 md:h-fit  px-2"
                                        minlength="8">
                                </div>
                                <div class="flex flex-col justify-between">
                                    <div class="flex flex-row  justify-between gap-5">
                                        <div class="flex flex-row flex-nowrap w-full h-fit">
                                            <label class="text-azul-text text-xl text-nowrap">Logradouro</label>
                                            &nbsp;
                                            <input type="text" required name="logradouroUser"
                                                class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                        </div>

                                    </div>
                                    <br>
                                    <div class="flex flex-row flex-nowrap w-full h-fit justify-between gap-5">
                                        <div class="flex flex-row flex-nowrap w-full">
                                            <label class="text-azul-text text-xl text-nowrap">Bairro</label>
                                            &nbsp;
                                            <input type="text" required name="bairroUser"
                                                class="border text-azul-text text-xl h-fit border-cinza-border rounded-md w-full px-2">
                                        </div>
                                        <div class="flex flex-row flex-nowrap w-full h-fit ">
                                            <label class="text-azul-text text-xl text-nowrap">Cidade</label>
                                            &nbsp;
                                            <input type="text" required name="cidadeUser"
                                                class="border text-azul-text text-xl border-cinza-border rounded-md w-full px-2">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="flex flex-row flex-nowrap w-full h-fit">
                                        <label class="text-azul-text text-xl text-nowrap">Estado</label>
                                        &nbsp;
                                        <select required name="estadoUser"
                                            class="border text-azul-text text-xl border-cinza-border rounded-md w-1/2 px-2"
                                            maxlength="2">
                                            <option value=""></option>
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2 ">
                                    <label class="text-azul-text text-lg">Cel.</label>
                                    <input id="user-cel-ddd" type="tel" name="userCelddd"
                                        class="border text-azul-text text-xl border-cinza-border rounded-md w-10 text-center"
                                        maxlength="2">
                                    <input id="user-cel-number" maxlength="9" name="userCelNumber"
                                        class="border text-azul-text text-xl border-cinza-border rounded-md px-2 w-1/5"
                                        type="tel">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="flex flex-row gap-10">
                                <div class="flex border-cinza-border border-4 border-dashed rounded-full p-2 hover:scale-105 duration-300 hover:rotate-180"
                                    onclick="document.getElementById('fileInput').click()">
                                    <div class="flex flex-row items-center self-center
                                    snap-center
                                    content-center bg-cinza-border rounded-full p-5">
                                        <img id="imgInput" src="/icons/cross.png">
                                    </div>
                                </div>
                                <input type="file" id="fileInput" name="fotoPerfil" style="display: none;"
                                    accept=".png, .jpg. .JPEG">
                                <p class="text-lg text-azul-cinza-claro"><span class="text-xl font-bold">Faça upload
                                        da sua foto de perfil.</span><br>Formatos aceitos: PNG, JPG, JPEG. <br>
                                    Máximo de 10Mb.</p>
                            </div>
                        </form>
                    </section>
                </section>
                <%- include('./partials/footer.ejs') %>