@tailwind base;
@tailwind components;
@tailwind utilities;

.form-page {
    display: none;
}

.form-page.active {
    display: block;
}

.Background{
    background-image: url('../icons/bgbar.png');
    background-position: center;
    background-size: cover;
}

.Gradient{
    background: linear-gradient(0.25turn, #1a1a1a00, hsla(0, 0%, 10%, 0.164), #1a1a1a00);
}