
    
</body>
<script>
    function setupInputFocusTransfer(firstInputId, secondInputId) {
        const firstInput = document.getElementById(firstInputId);
        const secondInput = document.getElementById(secondInputId);
        firstInput.addEventListener('input', function() {
            if (this.value.length === this.maxLength) {
                secondInput.focus();
            }
        });
    }
    document.addEventListener('DOMContentLoaded', function() {
        setupInputFocusTransfer('tel-ddd', 'tel-number');
        setupInputFocusTransfer('cel-ddd', 'cel-number');
        setupInputFocusTransfer('user-cel-ddd', 'user-cel-number');
    });
</script>
</html>