<div class="flex flex-row w-full h-fit">
    <input type="text" name="pesquisa" placeholder="Pesquisar" class="w-full">
</div>
<div class="flex flex-row gap-5">
    <div>
        icon 1
    </div>
    <div>
        icon 2
    </div>
</div>