<section class="bg-azul-principal flex flex-col p-5 h-screen gap-10">
    <div class="flex flex-col gap-5 h-fit">
        <a href="/"><img class="size-10" src="/icons/lg-resist-w.svg">
        <img class="size-10  " src="/icons/tx-resist.svg"></a>
    </div>
    <br>
    <div class="flex flex-col gap-10 h-screen justify-between">
        <div class="flex flex-col gap-10">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer" src="/icons/home.svg">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Stats.svg">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Bloqueios.svg">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Usuarios.svg">
        </div>
        <div class="flex flex-col justify-center gap-5">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Ajudamenu.svg">
            <img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Configs.svg">
            <a href="/logout"><img class="size-10 hover:scale-110 duration-300 hover:pointer"  src="/icons/Logout.svg"></a>
        </div>
    </div>
</section>